.app-wrapper {
  background: linear-gradient(
    to bottom right,
    #d8ab50,
    #fcf6ba,
    #d39e2c,
    #fbf5b7,
    #aa771c
  );
  background-repeat: no-repeat;
  border-radius: 15px;
  box-shadow: 2px 2px 5px 1px rgb(185, 172, 172);
  height: 310px;
  margin: 60px auto 15px auto;
  max-width: 600px;
  padding: 5px;
}

.App {
  background: url("img/marble-texture.png");
  background-size: cover;
  height: 300px;
  margin: 0 auto;
  padding: 25px;
  border-radius: 12px;
}

h1 {
  text-align: center;
  font-family: "Poiret One", cursive;
  font-size: 32px;
  background-color: #aa771c;
  background-image: linear-gradient(
    135deg,
    #d8ab50,
    #fcf6ba,
    #d39e2c,
    #fbf5b7,
    #aa771c
  );
  background-size: 100%;
  -webkit-text-stroke: 0.5px #797675;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

footer {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.info {
  list-style-type: none;
  padding-left: 0;
}

.location {
  font-family: "Poiret One", cursive;
  font-size: 40px;
  background-color: #aa771c;
  background-image: linear-gradient(
    135deg,
    #d8ab50,
    #fcf6ba,
    #d39e2c,
    #fbf5b7,
    #aa771c
  );
  background-size: 100%;
  margin-bottom: 0;
  -webkit-text-stroke: 0.5px #797675;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.main-icon {
  height: 130px;
  width: 130px;
}

.temperature {
  font-size: 58px;
  font-weight: 400;
}

.units {
  font-size: 14px;
  font-weight: bold;
}
