.Weather form {
  margin: 15px auto;
}
.Weather .btn-outline-secondary {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(206, 212, 218);
  border-radius: 4px;
}
.Weather .search-button {
  margin-right: 25px;
}
.Weather .search-button:hover,
.Weather .location-button:hover {
  background: #ebeced;
  border: 1px solid white;
}
.Weather .location-icon {
  fill: url(#my-gold-gradient-2);
}
.Weather .search-icon {
  fill: url(#my-gold-gradient-1);
}
